<form [formGroup]="form" (ngSubmit)="load()" class="row g-3">
    <div class="col-md-12">
        <label for="region" class="form-label">Region</label>
        <select formControlName="regionId" class="form-control" id="region" >
            <option value="0">-</option>
            @for (region of regions; track region.id){
                <option value="{{region.id}}">{{region.name}}</option>
            }
        </select>
    </div>
    <div class="col-md-6">
        <label for="dateFrom" class="form-label">Date From: </label>
        <input type="date" formControlName="dateFrom" class="form-control" id="dateFrom">
    </div>
    <div class="col-md-6">
        <label for="dateTo" class="form-label">Date To: </label>
        <input type="date" formControlName="dateTo" class="form-control" id="dateTo">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination 
        [collectionSize]="(paged?.totalElements)!" 
        [(page)]="page" 
        [pageSize]="pageSize" 
        [maxSize]="5" 
        [rotate]="true" 
        [ellipses]="false" 
        [boundaryLinks]="true"
        (pageChange)="load()"
      >
    </ngb-pagination>
    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="load()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Continent</th>
        <th scope="col">Region</th>
        <th scope="col">Country</th>
        <th scope="col">Year</th>
        <th scope="col">Population</th>
        <th scope="col">Gdp</th>
      </tr>
    </thead>
    <tbody>
        @for (region of paged?.content; track $index){
            <tr>
                <td scope="row">{{(page-1) * pageSize + $index + 1}}</td>
                <td>{{region.continentName}}</td>
                <td>{{region.regionName}}</td>
                <td>{{region.countryName}}</td>
                <td>{{region.year}}</td>
                <td>{{region.population}}</td>
                <td>{{region.gdp}}</td>
            </tr>
        } @empty {
            <tr>
              <td colspan="7" style="text-align: center">No regions found</td>
            </tr>
          }
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination 
        [collectionSize]="(paged?.totalElements)!" 
        [(page)]="page" 
        [pageSize]="pageSize" 
        [maxSize]="5" 
        [rotate]="true" 
        [ellipses]="false" 
        [boundaryLinks]="true"
        (pageChange)="load()"
      >
    </ngb-pagination>
    <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="load()">
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="25">25 items per page</option>
      <option [ngValue]="50">50 items per page</option>
    </select>
  </div>